*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-open-sans);
}

:root{
    /* primary color */
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);

    /* font family */
    --ff-poppins: 'Poppins', sans-serif;
    --ff-open-sans: 'Open Sans', sans-serif;
    
    /* font weight */
    --fw-regular: 400;
    --fw-semi-bold: 600;
}

body{
    background-color: lightblue;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}