*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-open-sans);
}

:root{
    /* primary color */
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);

    /* font family */
    --ff-poppins: 'Poppins', sans-serif;
    --ff-open-sans: 'Open Sans', sans-serif;
    
    /* font weight */
    --fw-regular: 400;
    --fw-semi-bold: 600;
}

body{
    background-color: transparent;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------------- Layout --------------*/
.layout{
    width: min(1440px, 100%);
    min-height: 800px;
    background-color: var(--Violet);
    background-image: url(../img/bg-desktop.svg);
    background-position: left center;
    background-repeat: no-repeat;
    padding: 0 80px;
}

/*-------------- Header --------------*/
.header{
    width: 100%;
    margin: 60px 0 85px 0;
}

.hdr_logo{
    text-decoration: none;
}

.hdr_logo__img{
    display: block;
    width: 200px;
}

/*--------------- Main --------------*/
.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* left side */
.main_left{
    width: 55%;
}

.left__img{
    display: block;
    width: 100%;
}

/* main right */
.main_right{
    width: 45%;
    margin-left: 50px;
}

.right__title{
    font-size: 45px;
    color: #fff;
    font-weight: var(--fw-semi-bold);
    max-width: 20ch;
    margin-top: 40px;
}

.right__sub-title{
    font-size: 18px;
    line-height: 1.5;
    max-width: 50ch;
    color: #fff;
    font-weight: var(--fw-regular);
    margin-top: 32px;
}

.right__button{
    text-decoration: none;
    background-color: #fff;
    color: var(--Violet);
    font-size: 18px;
    font-weight: var(--fw-regular);
    padding: 16px 62px;
    border-radius: 50px;
    display: inline-block;
    margin-top: 22px;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.1);
    transition: .3s;
}

.right__button:hover{
    color: #fff;
    background-color: var(--Soft-Magenta);
}

/*--------------- Footer --------------*/
.footer{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.footer a{
    text-decoration: none;
    font-size: 18px;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    color: #fff;
    transition: .3s;
}

.footer a:hover{
    color: var(--Soft-Magenta);
    border: 2px solid var(--Soft-Magenta);
}




@media(max-width: 375px){
    /*-------------- Layout --------------*/
    .layout{
        background-image: url(../img/bg-mobile.svg);
    }
}